// Will trigger `failed to locate ...` in stylus-loader@2.5.0 depending on the order of running
// The error will be reported on the first file that mutated the options
// @require 'subcomponent'

.component-c
    color: pink
